    <!-- BEGIN BANNERS -->
    <header class="banner clearfix">
        <div class="skip-links hidden">
            <ul>
                <li><a href="#responsive_main" title="skip to content">Skip to Main Content</a></li>
            </ul>
        </div><!-- END .skip-links -->
        <div class="content-wrapper">
            <div class='unmutePlayer'>
                <article class="breakingNews">
                    <div class="content-wrapper BNID_76870081727186125">
                        <div class="breakingnewsTag">
                            <h2 class="TagText BNID_76870081727186125"> WATCH LIVE</h2><span
                                class="tagArrow">&nbsp;</span>
                            <h2 class="BNID_76870081727186125 mobi">
                                <a class="unmutePlayer" href="https://www.cp24.com/video?clipId=68595">CP24 BREAKING
                                    NEWS IN TORONTO AND BEYOND</a>
                            </h2>
                            <span class="clearfix"></span>
                        </div>
                    </div><!-- END .content-wrapper -->
                </article>
            </div>
            <div class="boxAd secondClass ">
                <div class="advert">
                    <div id="div-gpt-ad-728_90-1">
                    </div>
                    <p class="ad-below">Advertisement</p>
                </div>
            </div>
        </div>
    </header><!-- END .banner -->
    