<div class="element list videoPromoList">
    <h3>IN PHOTOS</h3>
    <ul class="linklist">
        <li class="dc grid">
            {{ range $index, $article := . }}
            <div style="display: inline-table; width:187px;" 
                 class="element teaser threecolumngridteaser grid_foo">
                <div class="teaser-image-wrapper teaser-image-top">
                    <div class="teaserImage">
                        <a href="{{ $article.Link }}">
                            <div class='gal'>&nbsp;</div>
                            <img src='{{ $article.Image }}' 
                                 alt='{{ $article.Description }}' 
                                 width='193' height='109' />
                        </a>
                    </div>
                    <div class="bn-headline">
                        <h2 class="teaserTitle">
                            <a href="{{ $article.Link }}">{{ $article.Title }}</a>
                        </h2>
                    </div>
                </div>
                <div class="lead-top teaserLead">
                    <p>{{ $article.Description }}</p>
                </div>
            </div>
            {{ end }}
            <div class="clearfix"></div>
        </li>
    </ul>
    <div class="bottom-links">
    </div>
    <div class="clearfix"></div>
</div>
