<div class="element list topstorybn   ">
    <h3>
        <a href="https://www.cp24.com/news" title="Toronto News">TOP STORY<span
                class="da"></span></a>
    </h3>
    <ul class="linklist ">
        <li class="dc ">
            <div style="display: inline-table; width:620px; " class="element teaser   ">
                <div class="teaser-image-wrapper teaser-image-top ">
                    <div class="teaserImage ">
                        <a href="{{ .Link }}"><img src="{{ .Image }}"
                                alt="{{ .Title }}" width='620'
                                title='{{ .Title }}' height='349' /></a>
                    </div>
                    <div class="bn-headline ">
                        <h2 class="teaserTitle">
                            <a href="{{ .Link }}">{{ .Title }}</a>
                        </h2>
                    </div>
                </div>
                <div class="lead-top teaserLead">
                    <p>
                        {{ .Description }}
                    </p>
                </div>
            </div>
        </li>
    </ul>
    <div class="bottom-links">
    </div>
    <div class="clearfix"></div>
</div>